<!--Author: Kanishka Dhir
//Student ID:301220757
//Date:02-02-2022 -->

<% include partials/header.ejs %>
<div style="background: radial-gradient(circle,#79a7d3,white);">
  <div class="container " style="width:1000px; height: auto;  ">
    <div class="mt-5">
        <h1 class="display-5 fw-bold  mb-3">Welcome!</h1>
        <h4></h4>
    
        <div class="text-center">
            <img src="/images/portfolio.jpg" class="img-fluid">
            <h3 class="mt-3">My Mission:"Solve social issues with the help of technology"</h3>
            <!-- Buttons to move to other pages-->
          <div class="row-1 ">
            <a href="/about" type="button" class="btn  btn-lg   mt-4" style="background-color: #6883bc;">Learn more about me</a>
          </div>
          <div >
            <a href="/projects" type="button" class="btn  btn-lg   mt-4" style="background-color: #6883bc;">Learn more about my projects</a>
          </div>
          <div >
            <a href="/services" type="button" class="btn  btn-lg   mt-4" style="background-color: #6883bc;">Learn more about my services</a>
          </div>
        </div>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>