<!--Author: Kanishka Dhir
//Student ID:301220757
//Date:02-02-2022 -->

<% include partials/header.ejs %>

<div class="container ">
    <h1 class="pb-2 ">My Projects</h1>
    <div class="row   py-5">
        <!-- Details about projects-->
        <div class="col">
        <div class="card rounded-5 shadow-lg" >
          <div class=" p-5  ">
              <!--project image-->
            <img src="/images/Nakal.png"  class="img-fluid" style="width:auto; height: 400px; ">
         
            <h2 class="pt-5 mt-1 mb-4 display-5 ">Nakal Project</h2>
            <p>Nakal Project aims to provide the owners an automated system so that they can manage 
                the nakals generated  at DC office Bathinda by providing a very secure environment to the customer as well as 
                to the operator for the nakal they require.<br>
                Technology : Java,JavaFx
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card rounded-5 shadow-lg " >
          <div class="p-5 ">
              <!--project image-->
            <img src="/images/Cloud-Campus.png"  class=" img-fluid" style="width:auto; height: 400px;">
         
            <h2 class="pt-5 mt-1 mb-4 display-5">Cloud Campus</h2>
            <p>Cloud Campus is an educational portal providing efficient way of communication between students and faculties, 
                hence smooth functioning of an Institute.Also,helps students to cpmare performance of various institutes.<br>
                Technology : Java,MySql,JS</p>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card rounded-5 shadow-lg " >
          <div class="p-5">
              <!--project image-->
            <img src="/images/Indradhanush.png"  class=" img-fluid" style="width:auto; height:400px; ">
         
            <h2 class="pt-5 mt-1 mb-4 display-5">Mamta App</h2>
            <p> Mission Indrandhanush app accomplish the goal of fully immunizing children of age upto 2 years by scheduling the vaccination,
                generarting the report and searching nearby hospitals. <br>
                Technology : Android,Firebase</p>
          </div>
        </div>
      </div>
    </div>
</div>

<% include partials/footer.ejs %>