<!--Author: Kanishka Dhir
//Student ID:301220757
//Date:02-02-2022 -->
<% include partials/header.ejs %>
<div class="container " >
    <h2 class="pb-2 ">My Services</h2>

    <!-- Displaying services info-->
<div class="row  py-5">
    <div class="col">
      <div class="card  rounded-5 shadow-lg" >
        <div class=" p-5">
            <!-- Image of service-->
          <img src="/images/java.jpg" class="img-fluid">
          <h2 class="pt-5 mt-1 mb-4 display-5 " >Java Development</h2>
          <p> Provide service of making Java based projects</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card  rounded-5 shadow-lg" >
        <div class=" p-5">
            <!-- Image of service-->
            <img src="/images/photoshop.png" class="img-fluid">
          <h2 class="pt-5 mt-1 mb-4 display-5 ";>Video Editing /Photoshop</h2>
          <p> Provide service of editing videos, using adobe photoshop or adobe illustrator</p>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card  rounded-5 shadow-lg" >
        <div class=" p-5">
            <!-- Image of service-->
            <img src="/images/webdev.jpg" class="img-fluid">
          <h2 class="pt-5 mt-1 mb-4 display-5">Web Development</h2>
          <p> Provide service of making web applications and desktop applications</p>
        </div>
      </div>
    </div>
  </div>

<% include partials/footer.ejs %>